<!-- <div class="navbar"> -->
    <!-- <mat-toolbar style="position: fixed; top: 0;" color="primary">
     
     <div class="home">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

    <span ><a mat-icon-button routerLink="/">Home</a></span>
     </div>

     <span class="space-maker"></span>

     <span><a routerLink="/addvisitors" mat-icon-button style="margin-right: 150px;">Add Visitors</a></span>
     <span><a routerLink="/registor" mat-icon-button style="margin-right: 150px;">Register Here</a></span>

<div class="visitor">
  <a routerLink="/visitors" mat-icon-button >visitors</a>
</div>
 
    </mat-toolbar> -->
  <!-- </div> -->

  <!-- <h1>hiii</h1> -->

  <!-- =============================================== -->
  <div class="navbar">.
    <span></span>
  <li class="list"><a routerLink="/">Home</a></li>
  <li class="list"><a routerLink="/addvisitors">Add visitors</a></li>
  <li class="list"><a routerLink="/registor">Register Here</a></li>
  <li class="list"><a routerLink="/visitors">Visitor-List</a></li>

    
  </div>
