/* .space-maker{
    margin-left: 60vw;
}
.registor{
    margin-right: 200px;
} */
.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: blue;
}
.list{
        /* margin-left: 3px; */
        display: inline-block;
        text-align: center;
        text-decoration: none;
        margin-left: 92px;
        /* font-size: 2px; */
        margin-top: 19px;
}
a{
    font-size: 1.25rem;
    color: white;
    /* text-align: center; */
    text-decoration: none;
}
span{
    margin-left: 20vw;
}
a:hover{
    color: green;
}