/* .label{
    color: blue; 
    margin-left: 10vw ;
    font-style: italic;
    font-size: bold;
    font-size: 1.012rem;
}
.input{
 margin-left: 10vw;
 width: 20vw;
 height: 3vh;
}
.male{
    margin-left: 5px;
}
.gender{
    margin-left: 10vw;
}
.req{
    color: red;
} 

.search{
    margin: 2px;
}
.table{
    margin: 6px;
}
button{
    margin-left: 5px;
    height: 27px;
    border-radius: 7px;
    color: blue;
}
input{
    width: 190px;
    height: 22px;
    border-radius: 11px;
} */
input{
    text-align: center;
    margin-top: 11vh;
    margin-left: 37vw;
    border-radius: 19px;
    width: 301px;
    height: 29px;
}
button{
    margin-left: 5px;
    width: 64px;
    height: 31px;
    border-radius: 12px;
}
table{
    margin: 53px 403px;
    border: 2px solid black;
    border-radius: 10px;
}
